<head>
  <meta charset="utf-8">
</head>

<body class="main-body">
<div class="back">
  <p>
    Добро пожаловать в проект Angular!
  </p>
  <p>
    В нашей системе вы можете:
  </p>
  <ul>
    <li>просмотреть всех пользователей системы Creatio</li>
    <li>просмотреть информацию о конкретном пользователе системы Creatio</li>
    <li>создать пользователя в системе Creatio</li>
    <li>изменить контакт у конкретного пользователя системы Creatio</li>
    <li>управлять активностью пользователя системы Creatio</li>
  </ul>
  <p>
    Начните работу с системой прямо сейчас!
  </p>
  <button class="btn-start-work" (click)="StartWork()">НАЧАТЬ РАБОТУ</button>
</div>
</body>

<footer class="footer">
  <hr>
  <p>
    Все права защищены и используются только разработчиком Creatio Ивановым С.Ю.
  </p>
  <p>
    2022 :-)
  </p>
</footer>
