.main-body {
  display: block;
  margin: 8px;
  background: #31ff38;
}

.back {
  text-align: center;
  width: 800px;
  margin-left: 25%;
  margin-top: 3%;
  color: white;
  font-size: 28px;
}

.btn-start-work {
  width: 500px;
  height: 100px;
  font-size: 40px;
  border: 3px solid #313131;
  border-radius: 24px;
  background: #a9ff00;
}

.footer {
  text-align: center;
}
